body {
    text-align: center;
    background: lightgreen;
    background-attachment: fixed;
}
#play {    
    color: tan;
    border: none;
    width:  150px;
    height: 100px;
    font-size: xx-large;
}
#login {
    width: 100px;
    height: 100px;
}
#tutorial {
    background-color: brown;
}
