<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <script defer src="/static/index.js"></script>
</head>
<body>
    <h1 id="menutitle"> Protest Production </h1><br><br><br><br> 
    <button id="play" onclick="toGame()"> Play! </button>
    <button id="login" onclick="toLogin()"> Login/Create Account </button>
    <button id="tutorial" onclick="toTutorial()"> Tutorial </button>
</body>
</html>