<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/login.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>
<body>
    <h1> Create Account: </h1> <br>
    <form action="/createacct" method="post">
        <label for="username"> Username: </label>
        <input id="username" type="text" name="username">
        <label for="password"> Password: </label>
        <input id="password" type="password" name="password">
        <input id="submit" type="submit" value="Create Account">
    </form> <br><br><br><br>
    <h1> Login: </h1> <br>
    <form action="/login" method="post">
        <label for="loginusername"> Username: </label>
        <input id="loginusername" type="text" name="loginusername">
        <label for="loginpassword"> Password:</label>
        <input id="loginpassword" type="password" name="loginpassword">
        <input id="loginsubmit" type="submit" value="Login">
    </form>
</body>
</html>